/*************
GENERAL
*************/



h1, h2, h3, h4, h5{
	font-family: 'Dosis', sans-serif;
	text-align: center;
}

p {
	font-family: 'Dosis', sans-serif;
	text-align: center;
}

/*BANNER*/
.bluthbanner {
	font-family: 'Dosis', sans-serif; 
	padding:15px 0 15px 10px;
	border:2px solid #9acf3e;
	border-radius: 10px;
	background-color: #9acf3e;
	color:#3e69cf;
	
}

img.dancingb1 {
	height:175px;
	width:175px;
	float:left;
}

img.dancingb2 {
	height:175px;
	width:175px;
	float:right;
}


/*************
NAVIGATION 
************/
nav {
	text-align: center;
	border:2px solid #bd7604;
	border-radius:10px;
	background-color:#bd7604;
}

nav ul {

	list-style-type: none;
}

nav li {
	display:inline-block;
}

nav a {
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
	color:#fce700;
	padding:15px 60px ;

}




/*************
HEADER
************/

.hdrimg {
	/*float:center;*/
	max-width: 32%;
	max-height: 10%;
	margin-left:275px;
	border-radius: 20px;
	
}


/*******
COLORS
******/


/* Site Body */

body {
	background-color: #ede72b;
}
nav a:visited {
	color:#fff;
}

nav a:hover {
	color:#3e69cf;
}


/* Site Header*/

header {
	background-color: #ede72b;
}

/*Site Footer*/
footer {
	margin: 2.5em auto 0 auto;
	border: 7px dotted #BD7604;
	background-color: #ede72b;
	border-radius: 50%;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
	max-width: 85%;
}




/*****************
EMPLOYEES PAGE
******************/


/*Employee Images*/
.employees{
	max-width:100%;
	padding:0;

}

.employees span{
float:left;

}

.employees img{
	height:150px;
	width:240px;
	margin: 2.5%;
    border-radius:200%;
}


/*************
PRODUCTS PAGE
************/

