/*************
GENERAL
*************/

h1, h2, h3, h4, h5{
	font-family: 'Dosis', sans-serif;
	text-align: center;
}

p {
	font-family: 'Dosis', sans-serif;
	text-align: center;
}

.textcontent {
   margin: 0 15% 0 15%;
}

/*BANNER*/
.bluthbanner {
	font-family: 'Dosis', sans-serif; 
	padding:15px 0 15px 10px;
	border:2px solid #9acf3e;
	border-radius: 10px;
	background-color: #9acf3e;
	color:#3e69cf;
}

img.dancingb1 {
   display: block;
	height:175px;
	width:175px;
	float:left;
}

img.dancingb2 {
   display: block;
	height:175px;
	width:175px;
	float:right;
}


/*************
NAVIGATION 
************/
nav {
	text-align: center;
	border:2px solid #bd7604;
	border-radius:10px;
	background-color:#bd7604;
}

nav ul {

	list-style-type: none;
}

nav li {
	display:inline-block;
}

nav a {
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
	color:#fce700;
	padding:15px 60px ;
}




/*************
HEADER
************/

.hdrimg {
	max-width: 32%;
	max-height: 10%;
	margin-left:275px;
	border-radius: 20px;	
}


/*******
COLORS
******/


/* Site Body */

body {
	background-color: #ede72b;
}
nav a:visited {
	color:#fff;
}

nav a:hover {
	color:#3e69cf;
}


/* Site Header*/

header {
	background-color: #ede72b;
}

/*Site Footer*/
footer {
	margin: 0 auto 0 auto;
	margin-top: 10%;
	border: 7px dotted #BD7604;
	background-color: #ede72b;
	border-radius: 50%;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
	max-width: 85%;
	clear: both;
}




/*****************
EMPLOYEES PAGE
******************/


/*Employee Images*/
.employees{
   margin-bottom: 50%;
	min-width: 85%;
	padding: 0;
}

.employees img{
   height: 150px;
   width: 240px;
   border
   margin: 2.5%;
   border-radius: 200%;
}

.column1 {
  float: left;
  margin-left: 20%;
}

.column2 {
  float: right;
  margin-right: 20%;
}

/*************
PRODUCTS PAGE
************/

article.product1 {
   max-width: 20%;
   border: 1px solid black;
   text-align: center;
   background-color:#F1E5C1  ;
}

article h3 {
   border: 1px dotted lightblue;
   background-color: lightblue;
   text-align:center;
}

.product-grid {
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
   margin-bottom: 15px;
   
}

.product {
   background-color: #F1E5C1  ;
   border: 4px white solid;
   width: 300px;
   height: 400px;
   margin-right: 20px;
   margin-left: 20px;
   display: inline-block;
   float:left;
   box-shadow: 10px 10px 7px #888888;
}

.product article {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding-left: auto;
   padding-right: auto;

}
.product img {
   /*margin-right: auto;*/
   /*margin-left: auto;*/
   width: 210px;
   height: 200px;
}

p.price {
   border:1px dotted lightblue;
   background-color: lightblue
}